<div class="container top-30">
   <div class="row">

   		<div class="col-md-3">
   				<label for="termino">buscar artista</label>
   				<input type="text" placeholder="busque artista..." 
   				   class="form-control"
   				  [(ngModel)]="termino">
   		</div>	

   		<div class="col-md-9" *ngIf="termino.length > 1">
   				<h1>{{termino}}</h1>
   				<hr/>
   		</div>	

  



   </div>
</div>  