<div class="container">
	<br>
	<h1>Pipes</h1>
	<hr/>

	<table class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th>Variable</th>
	      <th>Pipe</th>
	      <th>Producto</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td>{{nombre}}</td>
	      <td>uppercase</td>
	      <td>{{nombre | uppercase}}</td>
	    </tr>

	    <tr>
	      <td>{{nombre}}</td>
	      <td>lowercase</td>
	      <td>{{nombre | lowercase}}</td>
	    </tr>


	    <tr>
	      <td>{{nombre}}</td>
	      <td>slice:3</td>
	      <td>{{nombre | slice:3}}</td>
	    </tr>

	    <tr>
	      <td>{{nombre}}</td>
	      <td>slice:0:3</td>
	      <td>{{nombre | slice:0:3}}</td>
	    </tr>


	    <tr>
	      <td>{{arreglo}}</td>
	      <td>slice:1:5</td>
	      <td>{{arreglo | slice:1:5}}</td>
	    </tr>


	    <tr>
	      <td>{{PI}}</td>
	      <td>number:'3.0-0'</td>
	      <td>{{PI | number:'3.0-0'}}</td>
	    </tr>

  	    <tr>
  	      <td>{{a}}</td>
  	      <td>percent:'1.0-2'</td>
  	      <td>{{a | percent:'1.0-2'}}</td>
  	    </tr>


    	    <tr>
    	      <td>{{a}}</td>
    	      <td>percent:'2.2-2'</td>
    	      <td>{{a | percent:'2.2-2'}}</td>
    	    </tr>


          <tr>
       	      <td>{{salario}}</td>
       	      <td>currency</td>
       	      <td>{{salario | currency}}</td>
       	    </tr>


       	    <tr>
       	      <td>{{salario}}</td>
       	      <td>currency:'EUR'</td>
       	      <td>{{salario | currency:'EUR'}}</td>
       	    </tr>


       	    <tr>
       	      <td>{{salario}}</td>
       	      <td>currency:'EUR':true</td>
       	      <td>{{salario | currency:'EUR':true}}</td>
       	    </tr>
            <tr>
              <td>{{salario}}</td>
              <td>currency:'EUR':true:'4.0-0'</td>
              <td>{{salario | currency:'EUR':true:'4.0-0'}}</td>
            </tr>

       	    <tr>
       	      <td>{{salario}}</td>
       	      <td>number:'.2-2'</td>
       	      <td>{{salario | number:'.2-2'}}</td>
       	    </tr>

       	     <tr>
       	      <td>{{valorDepromesa}}</td>
       	      <td>async</td>
       	     <!-- <td>{{valorDepromesa | json }}</td>-->
       	      <td>{{valorDepromesa | async }}</td>
       	    </tr>

       	    <tr>
       	      <td>{{fecha}}</td>
       	      <td>date</td>
       	      <td>{{fecha | date}}</td>
       	    </tr>


       	    <tr>
       	      <td>{{fecha}}</td>
       	      <td>date</td>
       	      <td>{{fecha | date:'medium'}}</td>
       	    </tr>



       	    <tr>
       	      <td>{{fecha}}</td>
       	      <td>date</td>
       	      <td>{{fecha | date:'MMMM - dd'}}</td>
       	    </tr>



       	    <tr>
       	      <td>{{nombre2}}</td>
       	      <td>capitalizado</td>
       	      <td>{{nombre2 | capitalizado:1:2}}</td>
       	    </tr>


       	    <h4>Youtube</h4>
       	    <iframe width="854" height="480" [src]="video | domseguro:'https://www.youtube.com/embed/' " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

	  </tbody>

	</table>



	<h4>Slice</h4>

	<ul>
	  <li *ngFor="let item of arreglo" > {{item}} </li>
	</ul>

	<ul>
	  <li *ngFor="let item of arreglo | slice:5:20" > {{item}} </li>
	</ul>
<br/><br/><br/><br/>


  <h1>{{objeto}}</h1>

  <h1>{{objeto | json}}</h1>

  <pre>{{objeto | json}}</pre>


</div>
