<h1>Héroes <small>Marvel y DC</small></h1>
  <hr/>
<div class="card-columns">
  
  <div class="card" *ngFor="let heroe of misHeroes; let i = index">
	      <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
	      <div class="card-block">
		        <h4 class="card-title">{{heroe.nombre}}</h4>
		        <p class="card-text">{{heroe.bio}}</p>
		        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
	      </div>

	      <button  (click)="verHeroe(i)"
	        type="button" class="btn btn-outline-primary btn-block">
	        ver más..
	      </button>
	      <!--
	      <a class="nav-link" [routerLink]="['/heroe',i]">Heroes</a>
	      -->

    </div>




</div>
